/vendor/
.idea/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/.styleci.yml
/.gitattributes
/.editorconfig
/.env.example
artisan
composer.lock
package.json
phpunit.xml
README.md
vite.config.js
app/Http/Controllers/Controller.php

tests/TestCase.php
tests/Feature/ExampleTest.php
tests/Unit/ExampleTest.php
routes/console.php
resources/views/welcome.blade.php
public/favicon.ico
public/index.php
public/robots.txt
resources/css/app.css
resources/js/app.js
resources/js/bootstrap.js
public/.htaccess
database/factories/UserFactory.php
_ide_helper.php
.prettierrc
package-lock.json
.vscode/settings.json
